body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    text-transform: capitalize;
    color: green;
}

main {
    padding: 20px;
}

.product-list {
    margin-top: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.product-image {
    max-width: 100%;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: #f00;
}

.product-description {
    margin-top: 10px;
}


img {
    height: 100px;
    width: 100px;
}
footer {
    padding: 20px;
   font-weight: bold;
   text-align: center;
   font-size: 18px;
   color: #6495ED;
   text-transform: capitalize;
   background-color: #F8F8FF;
}
header   {
    background-image: Url(backround.jpg);
   
    
}
.social-nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

.social-nav ul {
    list-style: none;
    padding: 0;
}

.social-nav ul li {
    display: inline;
    margin-right: 20px;
}

.social-nav ul li:last-child {
    margin-right: 0;
}

.social-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.signup-section {
    text-align: center;
    padding: 20px 0;
}

.signup-section h2 {
    margin: 0;
}
.header-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.header-nav ul li {
    display: inline;
    margin-right: 20px;
}

.header-nav ul li:last-child {
    margin-right: 0;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
}
